@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.main-content{
    width: 320px;
    background-color: #e4e4e4;
    border-radius: 13px;
    overflow: hidden;
    color: black;
}

.img-container{
    width: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.my-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: 50% 20%
}

.fullname{
    margin-top: 16px;
    font-size: 26px;
}

.info-container{
    padding: 0 24px;
}

.occupation{
    font-size: 12.7px;
    color: #6E85B7;
    margin-top: 5px;
}

.know-more a{
    font-size: 13px;
    margin-top: 2px;
    text-align: center;
    display: block;
    color: black;
}

.contact-me{
    padding: 16px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: 600px;
}


.email{
    padding: 6px 28px;
    color: #6E85B7;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
}

.linkedin{
    border-radius: 6px;
    padding: 6px 19px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c4fb4;
    gap: 8px;
}

.about-me{
    margin-top: 16px;
    text-align: left;
}

.about-me h3{
    margin-bottom: 6.4px;
}

.about-me p{
    margin-bottom: 6.4px;
}

.my-interest{
    margin-top: 16px;
    text-align: left;
}

.my-interest h3{
    margin-bottom: 6.4px;
}

.my-interest p{
    margin-bottom: 32px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #c9c9c9;
    padding: 19px 0;
}

.github{
    width: 30px;
    background-color: white;
    border-radius: 6px;
}

.twitter{
    width: 28px;
    background-color: white;
    border-radius: 6px;
}

.instagram{
    width: 28px;
    background-color: white;
    border-radius: 6px;
}

a{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 0px) {
    .main-img{
        height: 180px;
    }
}
@media only screen and (min-width: 300px) {
    .main-img{
        height: 220px;
    }
}
@media only screen and (min-width: 350px) {
    .main-img{
        height: 260px;
    }
}
@media only screen and (min-width: 420px) {
    .main-img{
        height: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .main-container{
        width: 72.25px;
        padding: 24px 2rem;
    }
    .main-content{
        width: 100%;
    }
    .fullname{
        font-size: 20px;
    }
    .occupation{
        font-size: 11.5px;
    }
    .web{
        font-size: 10.5px;
    }
    .contact-me{
        flex-direction: column;
    }
    .about-me h3{
        font-size: 16px;
    }
    .about-me p {
        font-size: 12px;
    }
    .my-interest h3{
        font-size: 16px;
    }
    .my-interest p {
        font-size: 12px;
    }
}