
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.main-container{
  padding: 48px 64px;
  background-color: #23252C;
  border-radius: 11.2px;
}

@media screen and (max-width:500px) {
 #root{
  margin: 0;
  padding: 8px;
 }
}
